{{#each this}}
<h3 class="title">{{name}}</h3>
<div class="card-countrie">
<div>
    <p class="card-text">Capital: <span class="card-text_data">{{capital}}</span></p>
    <p class="card-text">Population: <span class="card-text_data">{{population}}</span></p>
    <p class="card-text">Languages:</p>
    <ul>
        {{#each languages}}
        <li class="card-text_data">{{this.name}}</li>
        {{/each}}
    </ul>

</div>
<div>
    <img src={{flag}} alt={{name}} class="card-image"/>
</div></div>
{{/each}}