{{#each this}}
<h3>{{name}}</h3>
<div class="card-countrie">
<div>
    <p>Capital: <span>{{capital}}</span></p>
    <p>Population: <span>{{population}}</span></p>
    <p>Languages:</p>
    <ul>
        {{#each languages}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

</div>
<div>
    <img src={{flag}} alt={{name}} class="card-image"/>
</div></div>
{{/each}}